<div style="float: left;" id="listContainer">
<h2>Expense List</h2>
<div>
    <table>
        <tbody>
          <tr>            
            <td>
                <select [(ngModel)]="selectedMonth" (change)="getData()">
                    <option [value]="item.id" *ngFor="let item of monthList">
                        {{item.value}}
                    </option>
                </select>
            </td>
             <td>
                <select [(ngModel)]="selectedYear" (change)="getData()">
                    <option [value]="item.value" *ngFor="let item of yearList">
                        {{item.value}}
                    </option>
                </select>
             </td>
          </tr>
        </tbody>
    </table>
  
</div>
<table id="table">
    <thead>
       <tr>
        <th>expense</th>
        <th>amount</th>
        <th>date</th>
        <th>comment</th>
       </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of expenseList">
            <td>               
            <a [title]="e.expense +' detail'" [routerLink]="['/expense',e.id]">
                {{e.expense}}
            </a>
            </td>
            <td>
               <span>{{e.amount |currency:'INR'}}</span>
            </td>
            <td>{{e.date | date:'shortDate'}}</td>
            <td>{{e.comment}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>Total Expense</td>
            <td colspan="3"><span style="font-weight:bold;">{{totalExpense | currency:'INR'}}</span></td>
        </tr>
    </tfoot>

</table>
</div>

<div style="float:left" id="addContainer">
    <h2>Add Expense</h2>
    <app-add></app-add>
</div>