#table {
    width: 100%;
    padding: 0% 2%;
    background-color: white;
}
#filterdiv{
    padding-left: 2%;
}

#table th{
    background-color: mintcream;
    border:none !important;
    color:black;
}

#table td{    
    color:black;    
    border: 1px solid aliceblue;   
}

mat-paginator.mat-paginator{
    background-color: mintcream;
    border: 1px solid aliceblue;
}

/* #table  td:nth-child(2){	
    color:coral;
} */

/* #table tr:nth-child(even) {
    background-color: #f2f2f2;
} */

#table tr:hover {
    background-color:azure;
}

.btnspan{
    padding-left: 1%;
}
