<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>

  <mat-toolbar color="primary">
    <mat-toolbar-row>    
      <a  [routerLink]="['/']">
        Expense Tracker
      </a>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="['/add']">Add</a>
        <a mat-button [routerLink]="" (click)="downloadFile()">File</a>
        <a mat-button [routerLink]="['/expensetype']">Type</a>          
      </div>
    </mat-toolbar-row>    
  </mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>