.menu-spacer {
    flex: 1 1 auto;
  }


  .mat-toolbar-row >  a{
    color:white;
  }

  .mat-toolbar-row > div > a{
    color:white;
    padding-right: 5%;
  }

  .mat-toolbar-row > div > a:nth-child(2){
    color:red;
  }